
<nav class="navbar navbar-light bg-white">
    <div class="container-fluid">

          <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <img src="~/images/NEXT.gif" style="width:30%; padding-left:30px;" />
        </a>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">

                    <a class="nav-link active" aria-current="page" style="color:red; font-weight:bold" asp-controller="Home" asp-action="Index">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="#" style="color:black; font-weight:bold" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" onmouseover="this.style.color='red'" onmouseout="this.style.color='black'">

                        Local
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <a style="color:red; font-weight:bold;font-size:50px" href="#">Local</a>
                                        <div class="d-flex flex-column">
                                            <a href="#">ALL</a>
                                            <a href="#">Link 2</a>
                                        </div>
                                    </div>
                                    <div class="row col-12 col-md-8">
                                        <div class="picture-row">
                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 1" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 1</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 2" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 2</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 3" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 3</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 4" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 4</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="#" style="color:black; font-weight:bold" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" onmouseover="this.style.color='red'" onmouseout="this.style.color='black'">

                        Sweden
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      
                        <li>
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <a style="color:red; font-weight:bold;font-size:50px" href="#">Sweden</a>
                                        <div class="d-flex flex-column">
                                            <a href="#">ALL</a>
                                            <a href="#">Link 2</a>
                                        </div>
                                    </div>
                                    <div class="row col-12 col-md-8">
                                        <div class="picture-row">
                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 1" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 1</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 2" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 2</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 3" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 3</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 4" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 4</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="#" style="color:black; font-weight:bold" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" onmouseover="this.style.color='red'" onmouseout="this.style.color='black'">

                        World
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <a style="color:red; font-weight:bold;font-size:50px" href="#">World</a>
                                        <div class="d-flex flex-column">
                                            <a href="#">ALL</a>
                                            <a href="#">Link 2</a>
                                        </div>
                                    </div>
                                    <div class="row col-12 col-md-8">
                                        <div class="picture-row">
                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 1" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 1</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 2" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 2</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 3" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 3</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 4" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 4</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="#" style="color:black; font-weight:bold" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" onmouseover="this.style.color='red'" onmouseout="this.style.color='black'">

                        Economy
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <a style="color:red; font-weight:bold;font-size:50px" href="#">Economy</a>
                                        <div class="d-flex flex-column">
                                            <a href="#">ALL</a>
                                            <a href="#">Link 2</a>
                                        </div>
                                    </div>
                                    <div class="row col-12 col-md-8">
                                        <div class="picture-row">
                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 1" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 1</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 2" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 2</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 3" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 3</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 4" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 4</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="#" style="color:black; font-weight:bold" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" onmouseover="this.style.color='red'" onmouseout="this.style.color='black'">


                        Sport
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <a style="color:red; font-weight:bold;font-size:50px" href="#">Sport</a>
                                        <div class="d-flex flex-column">
                                            <a href="#">ALL</a>
                                            <a href="#">Link 2</a>
                                        </div>
                                    </div>
                                    <div class="row col-12 col-md-8">
                                        <div class="picture-row">
                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 1" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 1</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 2" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 2</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 3" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 3</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 4" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 4</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="#" style="color:black; font-weight:bold" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" onmouseover="this.style.color='red'" onmouseout="this.style.color='black'">

                        Art & Culture
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <a style="color:red; font-weight:bold;font-size:50px" href="#">Art & culture</a>
                                        <div class="d-flex flex-column">
                                            <a href="#">ALL</a>
                                            <a href="#">Link 2</a>
                                        </div>
                                    </div>
                                    <div class="row col-12 col-md-8">
                                        <div class="picture-row">
                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 1" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 1</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 2" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 2</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 3" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 3</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 4" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 4</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="#" style="color:black; font-weight:bold" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" onmouseover="this.style.color='red'" onmouseout="this.style.color='black'">

                        Health
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <a style="color:red; font-weight:bold;font-size:50px" href="#">Health</a>
                                        <div class="d-flex flex-column">
                                            <a href="#">ALL</a>
                                            <a href="#">Link 2</a>
                                        </div>
                                    </div>
                                    <div class="row col-12 col-md-8">
                                        <div class="picture-row">
                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 1" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 1</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 2" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 2</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 3" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 3</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 4" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 4</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="#" style="color:black; font-weight:bold" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" onmouseover="this.style.color='red'" onmouseout="this.style.color='black'">

                        Weather
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <a style="color:red; font-weight:bold;font-size:50px" href="#">Weather</a>
                                        <div class="d-flex flex-column">
                                            <a href="#">ALL</a>
                                            <a href="#">Link 2</a>
                                        </div>
                                    </div>
                                    <div class="row col-12 col-md-8">
                                        <div class="picture-row">
                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 1" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 1</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 2" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 2</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 3" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 3</p>
                                                </div>
                                            </div>

                                            <div class="picture-container">
                                                <img src="http://placehold.it/400x300" alt="Picture 4" class="picture">
                                                <div class="text-container">
                                                    <p>Text for Picture 4</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                
            </ul>

            <form class="d-flex" asp-controller="Categories" asp-action="Search">
                <input name="searchString" class="form-control" type="search" placeholder="Search On NEXTnews" aria-label="Search">
                <button class="btn btn-outline-danger" type="submit">Search</button>
            </form> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
                <partial name="_loginPartial"> </partial>
           

        </div>
    </div>
</nav>






