html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Latest News*/
.news-carousel {
    width: 80%;
    margin: 0 auto;
}

#newsCarousel {
    padding: 20px;
}

.latest-news-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 20px;
}

.latest-news-title {
    text-align: center;
}

.latest-news-headline {
    font-size: 24px;
    font-weight: bold;
}

.latest-news-summary {
    font-size: 16px;
    line-height: 1.5;
}

.latest-news-date {
    font-size: 12px;
    color: #999;
}

.latest-news-link {
    color: var(--bs-body-color);
    text-decoration: none;
    transition: color 0.15s ease-in-out;
}
