
@model NextNews.ViewModels.CategoryViewModel


@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>


<form asp-action="Search" asp-controller="Categories" method="get" class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" name="searchString" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<!-- Display the list of articles -->
@if (Model.Articles != null && Model.Articles.Any())
{
    <div>
        <h2>Search Results</h2>
        @foreach (var article in Model.Articles)
        {
            <div>
                <h3>@article.HeadLine</h3>
                <p>@article.Content</p>
            </div>
        }
    </div>
}
else
{
    <p>No articles found.</p>
}