<h1>@ViewBag.Message</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="\images\Subscription\Subsription pic__1_.jpg" class="card-img-top" alt="...">
          
            <div class="card-body">
                <h5 class="card-title">Free</h5>
                <a asp-area="Identity" asp-page="/Account/Register" class="badge rounded-pill bg-danger" style="font-size: 2.0em; margin-bottom:13px; display:flex; justify-content:center;">Buy</a>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">✔ Healine only</li>
                    <li class="list-group-item disabled">✘ Deatails</li>
                    <li class="list-group-item disabled">✘ Weather Report</li>
                    <li class="list-group-item disabled">✘ Business News</li>
                    <li class="list-group-item disabled">✘ Sports News</li>
                </ul>
            </div>
            @* <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div> *@
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="\images\Subscription\Subsription pic__1_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Basic</h5>
                <a asp-action="CreateUserSubscription" asp-controller="Subscription" method="post" class="badge rounded-pill bg-danger" style="font-size: 2.0em; margin-bottom:13px; display:flex; justify-content:center;">Buy</a>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">✔ Healine only</li>
                    <li class="list-group-item">✔ Deatails</li>
                    <li class="list-group-item">✔ Weather Report</li>
                    <li class="list-group-item disabled">✘ Business News</li>
                    <li class="list-group-item disabled">✘ Sports News</li>
                </ul>
            </div>
           @*  <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div> *@
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="\images\Subscription\Subsription pic__1_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Premium</h5>
                <span class="badge rounded-pill bg-danger" style="font-size: 2.0em; margin-bottom:13px; display:flex; justify-content:center;">Buy</span>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">✔ Healine only</li>
                    <li class="list-group-item">✔ Deatails</li>
                    <li class="list-group-item">✔ Weather Report</li>
                    <li class="list-group-item ">✔ Business News</li>
                    <li class="list-group-item ">✔ Sports News</li>
                </ul>
            </div>
            @* <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div> *@
        </div>
    </div>
</div>